*{ margin:0; padding:0 }
body { max-width:1000px; }
article, nav, header, footer, aside, li { display:block; float:left; }

#article { padding:20px; min-width:300px; max-width:600px; }
#widgets { width:320px; margin:20px; float:right; }
